n8n/admin-notification.json
{
  "name": "Admin Notification Automation",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "mediconnect/order/admin",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "message",
              "value": "=*New Order Alert!*\nOrder ID: {{$json.body.orderId}}\nCustomer ID: {{$json.body.customer}}\nTotal Amount: Rs. {{$json.body.amount}}\nStatus: Payment {{$json.body.event}}"
            }
          ]
        },
        "options": {}
      },
      "name": "Format Message",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        450,
        300
      ]
    },
    {
      "parameters": {
        "url": "https://graph.facebook.com/v17.0/{{$env[\"WHATSAPP_PHONE_ID\"]}}/messages",
        "method": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$env[\"WHATSAPP_TOKEN\"]}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "messaging_product",
              "value": "whatsapp"
            },
            {
              "name": "to",
              "value": "={{$env[\"ADMIN_PHONE\"]}}"
            },
            {
              "name": "type",
              "value": "text"
            },
            {
              "name": "text.body",
              "value": "={{$json.message}}"
            }
          ]
        },
        "options": {}
      },
      "name": "Send WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        650,
        300
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Format Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Message": {
      "main": [
        [
          {
            "node": "Send WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {}
}
