n8n/customer-confirmation.json
{
  "name": "Customer Confirmation Automation",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "mediconnect/order/customer",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "message",
              "value": "=*Hi {{$json.body.customerName}}!*\nYour order (ID: {{$json.body.orderId}}) of Rs. {{$json.body.amount}} has been placed successfully.\n\n📦 Delivery Estimate: 2-3 Business Days\n🚚 Track your order at the MediConnect Dashboard.\n\nThank you for choosing MediConnect!"
            }
          ]
        },
        "options": {}
      },
      "name": "Format Customer Message",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        450,
        300
      ]
    },
    {
      "parameters": {
        "url": "https://graph.facebook.com/v17.0/{{$env[\"WHATSAPP_PHONE_ID\"]}}/messages",
        "method": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$env[\"WHATSAPP_TOKEN\"]}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "messaging_product",
              "value": "whatsapp"
            },
            {
              "name": "to",
              "value": "={{$json.body.customerPhone}}"
            },
            {
              "name": "type",
              "value": "text"
            },
            {
              "name": "text.body",
              "value": "={{$json.message}}"
            }
          ]
        },
        "options": {}
      },
      "name": "Notify Customer",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        650,
        300
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Format Customer Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Customer Message": {
      "main": [
        [
          {
            "node": "Notify Customer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {}
}
